<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfRestService.EmployeeDataService" behaviorConfiguration="mySrvBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfRestService/" />
          </baseAddresses>
        </host>
        <endpoint contract="WcfRestService.IEmployeeData" address="employees" binding="webHttpBinding" behaviorConfiguration="WcfRestService.EmpDataBehavior" />
        <endpoint contract="IMetadataExchange" address="mex" binding="mexHttpBinding" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mySrvBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WcfRestService.EmpDataBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
