<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICreditService" transactionFlow="true" />
                <binding name="WSHttpBinding_IDebitService" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1752/CreditService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICreditService" contract="CreditServiceReference.ICreditService"
                name="WSHttpBinding_ICreditService">
                <identity>
                    <userPrincipalName value="LittleStar\Abhijit" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:1143/DebitService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IDebitService" contract="DebitServiceReference.IDebitService"
                name="WSHttpBinding_IDebitService">
                <identity>
                    <userPrincipalName value="LittleStar\Abhijit" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>